

       
<div class="container mt-5">
     <div class="col-12">
            <button class="button btn-sm btn-primary" routerLink="addProduct">Add Product</button>
        </div>
    <div class="row">
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let product of productArr" 
                [routerLink]="['/product', product.pId]" >
                    {{product.productName}} 
                 </li> 
            </ul>
        </div>
        <div class="col-6">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

