  
  <div class="container">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="adminForm" (ngSubmit)="onAddadmin()">
        <div class="form-group">
          <label for="name">Name</label>
          <input 
            class="form-control" 
            formControlName="name" 
            type="text" 
            id="name"
          >
        </div>

        <div class="form-group">
            <label for="email">Eamil</label>
            <input class="form-control" formControlName="email" type="text" id="email">
        </div>
        <div class="form-group">
            <label for="contact">Contact</label>
            <input class="form-control" formControlName="contact" type="text" id="contact">
        </div>
        <div class="form-group">
            <label for="role">Role</label>
            <input class="form-control" formControlName="role" type="text" id="role">
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input class="form-control" formControlName="image" type="text" id="image">
        </div>
         <button mat-raised-button color="primary" *ngIf="!isIneditMode" type="submit">Add Admin</button>
         <button mat-raised-button color="primary" *ngIf="isIneditMode" type="button" (click)="onUpdate()">Update Admin</button>
         <!-- <button class="btn btn-sm btn-primary"  type="submit">Add Admin</button>
         <button class="btn btn-sm btn-primary"  type="button">Update Admin</button> -->
      </form>
    </div>
  </div>
</div>
